.DS_Store
configstore
nvm
coc
framework
tmuxinator/ali*
nvim/plugged
tmux/plugins
vscode/extensions
vscode/workspaceStorage
gatsby/
karabiner/automatic_backups/
nvim/session/
nvim/.netrwhist
nvim/UltiSnips/kotlin.snippets
